.registrados {
  left: 0;
}
.green {
  background-color: lightgreen;
  border: black;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 5px;
  color: white;
  cursor: pointer;
}
.red {
  background-color: red;
  border: black;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 5px;
  color: white;
  cursor: pointer;
}
